<%- include('./partials/header.ejs');-%>
    <%- include('./partials/nav.ejs');-%>
        <header class="header">
            <div class="container">

                <div class="row">
                    <div class="col-md-3">
                        <!-- Image -->
                        <img class="persons_picture" src="<%- data.profile_url %>" alt="Kamal">
                        <h2 class="text-center"><strong><%- data.name %></strong></h2>
                    </div>

                    <div class="col-md-8 row">
                        <div class="col-7">
                            <p class="field_data">Age:
                                <%- data.age %>
                            </p>
                            <p class="field_data">Race:
                                <%- data.race %>
                            </p>
                            <p class="field_data">Gender:
                                <%- data.gender %>
                            </p>
                            <p class="field_data">Phone:
                                <%- data.phone_number %>
                            </p>
                            <p class="field_data">Email:
                                <%- data.email_address %>
                            </p>
                        </div>

                        <div class="col-5">

                            <p class="field_data">Special Skills:
                                <%- data.special_skills %>
                            </p>
                            <p class="field_data">Medical History:
                                <%- data.medical_history %>
                            </p>
                            <p class="field_data">Residence:
                                <%- data.residence %>
                            </p>
                        </div>

                    </div>
                </div>

            </div>
        </header>
        <!--End of Header-->

        <hr>

        <!-- Main container -->
        <div id="more_user_information" class="container">

            <!-- Section:Biography -->
            <div class="row">

                <div class="user_data_field col-md-12">
                    <h2 class="card-title">Biography</h2>
                    <p>
                        <%- data.optional_message %>
                    </p>
                </div>

                <div class="user_data_field col-md-12">
                    <h2 class="card-title">Progression Report</h2>
                    <p>none</p>
                </div>

            </div>
            <!-- End:Biography -->

            <!-- Section: Call To Action -->
            <div class="row">

                <div class="col-12 col-md-6">
                    <h1> Help Pane </h1>
                    <p> Help
                        <%- data.name %> by pledging resources to help
                            <%- data.name %> grow.
                    </p>
                    <a class="btn btn-block btn-outline-dark" href="#">Help Out</a>
                </div>

                <div class="col-12 col-md-6">
                    <h1> Fund </h1>
                    <p> Help
                        <%- data.name %> financially by clicking the link below to donate some money. </p>
                    <a class="btn btn-block btn-outline-dark" href="#">Donate</a>
                </div>

            </div>

            <!-- Community Comments -->
            <hr>

            <div class="row">
                <div class="col-12">
                    <h1>Community Comments</h1>
                </div>
            </div>

        </div>
        <%- include('./partials/footer'); -%>